[submodule "external/SDL_GameControllerDB"]
	path = external/SDL_GameControllerDB
	url = https://github.com/gabomdq/SDL_GameControllerDB
[submodule "external/gba-tests"]
	path = external/gba-tests
	url = https://github.com/jsmolka/gba-tests.git
